<?xml version="1.0"?>
<config>
  <modules>
    <OrviSoft_Employment>
      <version>0.1.0</version>
    </OrviSoft_Employment>
  </modules>
  <frontend>
    <routers>
      <employment>
        <use>standard</use>
          <args>
            <module>OrviSoft_Employment</module>
            <frontName>employment</frontName>
          </args>
      </employment>
    </routers>
		<layout>
		  <updates>
			<employment>
			  <file>employment.xml</file>
			</employment>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <employment>
        <class>OrviSoft_Employment_Helper</class>
      </employment>
    </helpers>
	<blocks>
	  <employment>
		<class>OrviSoft_Employment_Block</class>
	  </employment>
	</blocks>
	<models>
	  <employment>
		<class>OrviSoft_Employment_Model</class>
		<resourceModel>employment_mysql4</resourceModel>
	  </employment>
	  <employment_mysql4>
		<class>OrviSoft_Employment_Model_Mysql4</class>
		<entities>		  
			  <employment>
				<table>employment</table>
			  </employment>
        </entities>
	  </employment_mysql4>
	</models>
	<resources>
	  <employment_setup>
		<setup>
		  <module>OrviSoft_Employment</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </employment_setup>
	  <employment_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </employment_write>
	  <employment_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </employment_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <employment>
	    <use>admin</use>
		<args>
		  <module>OrviSoft_Employment</module>
		  <frontName>admin_employment</frontName>
		</args>
	  </employment>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <employment module="employment">
		<title>Employment</title>
		<sort_order>100</sort_order>
		<children>
		  <employment module="employment">
		    <title>Manage Employment</title>
			<sort_order>0</sort_order>
			<action>admin_employment/adminhtml_employment</action>
		  </employment>
		</children>
	  </employment>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<employment translate="title" module="employment">
			  <title>Employment</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <employment translate="title">
			<title>Manage Employment</title>
			<sort_order>0</sort_order>
		  </employment>
			  </children>
			</employment>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<employment>
		  <file>employment.xml</file>
		</employment>
	  </updates>
	</layout>
  </adminhtml>
</config> 